# Install Django backend dependencies
pip install -r backend/myapp/django-requirements.txt
pip install -r backend/myapp/requirements.txt

# Navigate to the React frontend and install dependencies
cd frontend/my-next-app && npm install